@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Rubik:wght@300&display=swap');body {
  background: rgb(20,20,20);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  margin: 25% 0 0 0;
  position: relative;
  height: 100vh
}
body::after {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
}
.wrapper {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;

  perspective: 450px;
}
.scroll-text {
  color: #ffc909;
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 111s linear forwards;
}

h1,h2 {
  text-align: center;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffc909;
}


@keyframes scroll {
  from { top: 0; transform: translateZ(0px) rotateX(20deg) }
  to { top: -7500px; transform: translateZ(-2400px) rotateX(21deg)}
}