  {% extends 'base.html' %}

  {% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dash.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <nav data-toggled="false" data-transitionable="false">
    <div id="nav-logo-section" class="nav-section">
        <a href="{{url_for('dashboard', index=0)}}">
          <i class="fa-brands fa-jedi-order"></i>
        </a>
    </div>
    <div id="nav-mobile-section">
      <div id="nav-link-section" class="nav-section">
        <a href="{{url_for('about')}}">ABOUT</a>
        <a href="{{url_for('chat')}}">CHAT</a>
      </div>
      <div id="nav-social-section" class="nav-section">
        <a href="{{url_for('creators')}}">CREATORS</a>
      </div>
      <div id="nav-logout-section" class="nav-section">
        <a href="{{url_for('logout')}}">LOG OUT</a>
      </div>
    </div>

  </nav>

  <main>
    <article data-index="0" data-status="active">
      <div class="article-image-section article-section">
        <img src="{{ main_image }}" alt="Main Image">
      </div>
      <div class="article-description-section article-section">
        <p>{{ main_description }}</p>
      </div>
      <div class="article-title-section article-section">
        <h2>{{ main_title }}</h2>
        <i class="fa-light fa-plus-large"></i>
      </div>
      <div class="article-nav-section article-section">
       <button class="article-nav-button" type="button" onclick="location.href='{% if index > 0 %}/dashboard/{{ index -1 }}{% else %}/dashboard/{{ character_data|length - 1 }}{% endif %}'">
  <i class="fa-solid fa-arrow-left"></i>
  </button>
  <button class="article-nav-button" type="button" onclick="location.href='{% if index >=0 and index < character_data|length - 1 %}/dashboard/{{ index + 1 }}{% else %}/dashboard/0{% endif %}'">
    <i class="fa-solid fa-arrow-right"></i>
  </button>
      </div>
    </article>
  </main>

  {% endblock %}
