{% extends 'base.html' %}

{% block content %}
<section>
  <div class="form-box">
    <div class="form-value">
      <h2 style="color: #ffe81f">Log In Page</h2>
      {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
      <form method="POST" action="" class="login-form">
        {{ form.hidden_tag() }}
        {{ form.username(class_="input-field") }}
        {{ form.password(class_="input-field") }}
        {{ form.submit(class_="submit-btn") }}
      </form>
    </div>
    <a href="{{url_for('register')}}" class="login-link" style="color: #ffe81f">Don't have an account? Sign Up!</a>
  </div>
</section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginpage.css') }}">
{% endblock %}
